<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="org.telegram.messenger" />
        <package android:name="com.radolyn.ayugram" />
        <package android:name="tw.nekomimi.nekogram" />
        <package android:name="org.telegram.plus" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Network Control Center"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetworkControlCenter">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".byedpi.ByeDpiVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Local VPN traffic processing through ByeDPI" />
        </service>

        <service
            android:name=".tgws.TgWsProxyService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Local Telegram MTProto/WebSocket proxy" />
        </service>
    </application>

</manifest>
